@{
    ViewData["Title"] = "Đặt lại mật khẩu";
}
<h3>Đặt lại mật khẩu</h3>

<form asp-action="ResetPassword" method="post">
    <div class="mb-3">
        <label>OTP đã nhận:</label>
        <input type="text" name="otp" class="form-control" required />
    </div>
    <div class="mb-3">
        <label>Mật khẩu mới:</label>
        <input type="password" name="newPassword" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-success">Đặt lại mật khẩu</button>
</form>
